.Project{
  width: 100%;
  max-height: 426px;

  display: flex;
  justify-content: space-between;
  background-color: rgb(157, 157, 157);
  margin: 50px auto;
  transition: clip-path 1s ease-out;
}

.Project .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  min-width: 300px;

}

.Project .text h1{
  font-variant: small-caps;
  font-family: 'Alegreya', serif;
  font-size: 4.0em;
  color: rgb(204, 204, 204);
}

.Project .text p{
  font-family: 'OpenSans', sans-serif;
  color: rgb(218, 218, 218);
  font-size: 2.0em;
}

.Project img{
  align-self: flex-end;
  height: 100%;
  opacity: 0.85;
}

.light{
  background-color:rgba(219, 216, 209, 0.62);
  clip-path: inset(0 0 0 100%);

}

.dark{
  background-color:rgba(94, 129, 145, 0.61);
  clip-path: inset(0 100% 0 0);

}

.start{
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

.end{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
}

@media only screen and (max-width: 1100px) {



  .Project .text{
    display: block;
    padding: 0px 0px 0px 20px;

  }
}

@media only screen and (max-width: 975px) {

  .light{
    background-color:rgba(156, 151, 141, 1);

  }

  .dark{
    background-color:rgba(94, 129, 145, 1);
  }

  .Project img{
    display: none;
  }
  .Project .text{
    width: 100vw;

  }

  .Project .text h1{

    font-size: 3.0em;
    width: 70%;
    margin: 30px auto;
    padding: 0px 20px;
  }

  .Project .text p{

    font-size: 2.0em;
    width: 70%;
    margin: 30px auto;
    padding: 0px 20px;
  }
}


.Project-Show{
  clip-path: inset(0 0 0 0);
}
