.Contact{
  height: 100vh;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.Contact h1{
  padding-top: 20px;
  font-variant: small-caps;
  font-family: 'Alegreya', serif;
  font-size: 4.5em;
  font-weight: bold;
  color: rgb(89, 89, 89);
}

.Contact-social-media{
  display: flex;
  height: 70%;
  justify-content: space-around;
  color: rgb(110, 110, 110);
  font-size: 4.0em;

}


.Contact-icon{
  align-self: flex-end;
    cursor: pointer;
}
