.App{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

@font-face {
    font-family: Berylium;
    src: url('res/Beryliumbold.ttf');
}
