

.Parallax{
  position: absolute;
   left: 0;
   right: 0;
   z-index: -1;
   display: block;
   width: 100%;
   height: 100vh;
   clip: rect(0px 100vw 100vh 0px);
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 110%;

}

.Background-Start{
  background-image: url('banner.jpg')
}

.Background-Projects{
  background-image: url('banner_2.jpg')
}
